  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  
font-family: Roboto;
}

.custom-padding{
    padding-left: 19.5rem;
}

li{
    padding-right: 50px;
    padding-left: 40px;
     list-style: none;
     border-right: 1px solid rgba(255, 255, 255, .5);
}
a{
   
    color: white;
    text-decoration: none;
    font-weight: 600;
    
}

.custom-width{
    width: 80%;
}

.custom-nav{
    width: 37%;
}

.overlay-container {
      position: relative;
      inset: 0;       
      overflow: hidden;
    }

    
.overlay-container::before {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, .6);
      z-index: 1;
      pointer-events: none;
    }


.custom-image{
        height: 91vh
    }

.text-overlay p{
    width: 86%;
    text-align: center;
    font-size: 1.5rem;
}
.text-overlay h1{
    font-size: 3rem;
    text-align: center;
}

.text-overlay{
position: absolute;
content: "";
z-index: 2;
color: white;
left: 5%;
top: 30%;
}

.background-1{
    background: url(./assets/slider-img1.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 52.5rem;
    background-size: cover;
} 

.background-2{
    background: url(./assets/slider-img2.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 52.5rem;
    background-size: cover;
} 




.about-content{
    background-color: #F3F8FC;
    border-radius: 20px;
}

.custom-product {
    width: 340px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

.product-text p {
  font-size: 0.95rem;
}



.btn-color{
background-color: #4F4F4F;
}

.product-padding{
    padding-left: 10rem;
    margin-left: 112px;
}
.custom-width{
    width: 340px;
    margin-right: 225px;
}





.custom-card div{
width: 250px !important;

}



.why-choose {
    height: 500px;
  background-color: #f8f9fa;
}

.custom-card {
    height: 200px !important;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.why-choose-img {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}